In [1]:
## Ejercicio 1: Prepare el ambiente de trabajo

In [2]:
#* Importe las librerías básicas para el análisis de datos.
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns

In [3]:
#* Importe el módulo `linear_model`, y las funciones `mean_squared_error`, `r2_score` y `train_test_split`.
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [4]:
#* Importe la base de datos `boston.csv` y elimine la columna `Unnamed: 0`.
df = pd.read_csv('boston.csv')
df.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
df = df.drop(['Unnamed: 0'], axis=1)

In [6]:
#* Obtenga las medidas descriptivas de la base de datos con `.describe()`.
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [7]:
##-------------------------------------
### Ejercicio 2: División de la muestra

In [8]:
#* Genere conjuntos de entrenamiento y validación con `train_test_split`.
attr_mat = df.drop(['medv'], axis=1) #Matriz de atributos

In [9]:
target = df.loc[:,'medv'] #Objetivo

In [10]:
#x_train: conjunto atributos de entrenamiento
#x_test: conjunto atributos de testeo
#y_train: vector objetivo de entrenamiento
#y_test: vector objetivo de testeo

x_train, x_test, y_train, y_test = train_test_split(attr_mat, target, test_size= .33, random_state= 6217)

In [11]:
##-----------------------------------
## Ejercicio 3: Generación de modelos

In [12]:
#modelo lineal:
#1. Con intercepto y atributos normalizados.
modelo_norm = linear_model.LinearRegression(fit_intercept = True, normalize = True)

In [13]:
modelo_norm.fit(x_train, y_train) #le pasamos las muestras para entrenar

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [14]:
#predecir
medv_pred = modelo_norm.predict(x_test)

In [15]:
#2. Sin intercepto y atributos no normalizados.
modelo_no_norm = linear_model.LinearRegression(fit_intercept = False, normalize = False)
modelo_no_norm.fit(x_train, y_train) #le pasamos las muestras para entrenar
medv_pred_no = modelo_no_norm.predict(x_test)

In [16]:
## Ejercicio 4: Obtención de métricas

In [17]:
def report_scores(v_predichos, v_test):
    
    #promedio del error cuadrático 
    m1_mse = mean_squared_error(v_test, v_predichos).round(2)
    
    #R-cuadrado
    m1_r2= r2_score(v_test, v_predichos).round(2)    
    
    print(m1_mse, m1_r2)

In [18]:
#* Reporte las métricas para ambos modelos. En base a ello, seleccione el mejor modelo.

In [19]:
#normalizado
report_scores(medv_pred, y_test)

23.73 0.75

In [20]:
#no normalizado
report_scores(medv_pred_no, y_test)

22.08 0.77

In [21]:
# el mejor modelo es el que tiene menor error , no normalizado

In [22]:
#-----------------------------------------
## Ejercicio 5: Refactorización del modelo

In [79]:
def fetch_features(bd_attr, v_target = 'medv'):
    columns = bd_attr.columns
    attr_name = []
    pearson_r=[]
        
    
    #Para cada columna de la matriz de atributos
    for col in columns:
        if col != v_target:
            attr_name.append(col)
            pearson_r.append(bd_attr[col].corr(bd_attr[v_target]))
                     
    features = pd.DataFrame({
        'attribute':attr_name,
        'corr':pearson_r
    })
    
    features.sort_values(by=['corr'], ascending= False)
    
    return features

In [80]:
fetch_features(df, 'medv')

   attribute      corr
0       crim -0.388305
1         zn  0.360445
2      indus -0.483725
3       chas  0.175260
4        nox -0.427321
5         rm  0.695360
6        age -0.376955
7        dis  0.249929
8        rad -0.381626
9        tax -0.468536
10   ptratio -0.507787
11     black  0.333461
12     lstat -0.737663

In [81]:
#Reporte brevemente cuales los 6 atributos con una mayor correlación con `medv`
#Serián zn, rm, dis, black, chas, age

In [83]:
#------------------------------------------------------
## Ejercicio 6: Refactorización del modelo predictivo
attr_mat_02 = df.loc[:, ['rm', 'dis', 'black', 'chas', 'zn','age']] #Matriz de atributos columnas impo

In [86]:
x_train_02, x_test_02, y_train_02, y_test_02 = train_test_split(attr_mat_02, target, test_size= .33, random_state= 6217)

In [87]:
modelo_norm_02 = linear_model.LinearRegression(fit_intercept = True, normalize = True)
modelo_norm_02.fit(x_train_02, y_train_02)
#predecir
medv_pred_02 = modelo_norm_02.predict(x_test_02)

In [88]:
report_scores(medv_pred_02, y_test_02)

30.6 0.68